<div id="appPopupOverlay" class="app-popup-overlay">
    <div class="app-popup-content">
        <div class="app-popup-header">
            <div class="app-popup-icon" id="appPopupIcon">
                <i class="bi bi-check2-circle"></i>
            </div>

            <div>
                <h5 class="app-popup-title" id="appPopupTitle">Thông báo</h5>
                <div class="app-popup-subtitle" id="appPopupSubtitle">
                    Vui lòng chọn thông tin
                </div>
            </div>
        </div>

        <div class="app-popup-body" id="appPopupBody"></div>

        <div class="app-popup-footer" id="appPopupFooter"></div>
    </div>
</div>